  .place__title {
    margin: 0 0 48px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
  }

  @media screen and (max-width: 860px) {
    .place__title {
      font-size: 42px;
      line-height: 46px;
    }
  }

  @media screen and (max-width: 680px) {
    .place__title {
      margin: 0 16px 32px;
      font-size: 32px;
      line-height: 35px;
    }
  }
