  .photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }

  @media screen and (max-width: 1100px) {
    .photo-grid {
      gap: 14px;
    }
  }

  @media screen and (max-width: 860px) {
    .photo-grid {
      gap: 16px;
    }
  }

  @media screen and (max-width: 680px) {
    .photo-grid {
      grid-template-columns: minmax(288px, 1fr);
      row-gap: 12px;
    }
  }
