  .lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0 0;
  }

  @media screen and (max-width: 860px) {
    .lead__caption {
      margin-left: 24px;
    }
  }

  @media screen and (max-width: 680px) {
    .lead__caption {
      margin-left: 16px;
    }
  }
